:root {
  --secondary: #e5e5e5;
}

.btn-secondary {
  background: buttonface;
  color: buttontext;
  border: none;
}

.btn-secondary:hover {
  background-color: var(--secondary);
  color: buttontext;
}

* {
  transition: 0.3s;
  box-sizing: border-box;
}

body {
  background-color: #0000001a;
}

.header {
  box-shadow: 0 6px 8px 2px #dadada;
  height: 10vh;
}

.leftbar {
  position: sticky;
  padding: 20px;
  box-shadow: inset -3px -3px 3px 1px #dadada;
  border-radius: 8px;
  height: 100%;
}

.rightbar {
  position: sticky;
  padding: 20px;
  box-shadow: inset 3px -3px 3px 1px #dadada;
  border-radius: 8px;
  height: 40vh;
}

.main {
  padding: 20px;
  box-shadow: 0px -3px 8px 2px #dadada;
  border-radius: 8px;
  position: relative;
}

button[aria-expanded=true] i {
  transform: rotate(-180deg);
}

.sidebar .btn-toggle {
  padding: 10px 10px 10px 0px;
}

.bi {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bi.bi-trash {
  color: var(--red);
}

button.btn.new-session-btn {
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top: 15px;
}

#projects-list li {
  display: flex;
  justify-content: space-between;
}

#timer-container button {
  min-width: 80px;
}

div#sessions-list {
  height: calc(80vh - 100px - 3rem - 38px);
  overflow: auto;
}

.goals-container {
  margin-bottom: 33px;
}

.bi-arrow-left-short,
.bi-arrow-right-short {
  color: var(--blue);
  font-size: 30px;
}

#date_display {
  position: relative;
}

#day_display {
  display: none;
  position: absolute;
  top: -123%;
  left: -70%;
  padding: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 0.25rem;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 2px #888888;
}


#date-container:hover #day_display {
  display: block;
}

#date-container {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark);
}

[observe] {
  overflow: auto;
  max-height: 100%;
}

.valign {
  display: flex;
  align-items: center;
}

.progress {
  background-color: var(--);
}

label {
  margin-bottom: 0;
}

.form-check-label .bi {
  font-size: 20px;
}

.col-form-label {
  align-items: center;
  font-size: 15px;
  display: flex;
}