* {
  transition: 0.3s;
  box-sizing: border-box;
}

body {
  background-color: #0000001a;
}

.header {
  box-shadow: 0 6px 8px 2px #dadada;
  height: 10vh;
}

.leftbar {
  position: sticky;
  padding: 30px 20px;
  box-shadow: 8px -3px 8px 2px #dadada;
  border-radius: 8px;
}

.rightbar {
  position: sticky;
  padding: 30px 20px;
  box-shadow: -8px -3px 8px 2px #dadada;
  border-radius: 8px;
}

.main {
  padding: 30px 20px;
  box-shadow: -8px -3px 8px 2px #dadada;
  border-radius: 8px;
}

button[aria-expanded=true] i {
  transform: rotate(-180deg);
}

.sidebar .btn-toggle {
  padding: 10px 10px 10px 0px;
}

.bi {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bi.bi-trash {
  color: var(--red);
}

#projects-list li {
  display: flex;
  justify-content: space-between;
}

#timer-container button {
  min-width: 80px;
}

div#sessions-list {
  height: calc(80vh - 100px - 3rem - 38px);
  overflow: auto;
}

.sessions-group {
  box-shadow: inset 0px 0px 4px 0px var(--gray);
}

.goals-container {
  margin-bottom: 33px;
}

.bi-arrow-left-short,
.bi-arrow-right-short {
  color: var(--blue);
  font-size: 30px;
}

#date_display {
  position: relative;
}

#day_display {
  display: none;
  position: absolute;
  top: -123%;
  left: -70%;
  padding: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 0.25rem;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 2px #888888;
}


#date-container:hover #day_display {
  display: block;
}